
.show-tag {
    display: inline-block;
    margin: 0 10px;
    padding: 3px 0 0 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
    .remove-tag-button {
        display: inline-block;
        background-color: #f77878;
        margin-left: 5px;
        padding: 2px 3px;
        cursor: pointer;
    }
}
h3 {
    margin-top: 50px
}
