span {
    cursor: pointer;
    &:hover {
        background-color: #e2b700;
    }
    &:hover::after {
        content: '+';
        background-color: #6a9c24;
        padding: 0 5px;
        position: absolute;
    }
}
.tagged {
    background-color: #f9f141;
}
.hovered {
    background-color:  #e2b700;
}
h3 {
    margin-top: 50px
}
.text {
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.2);
    padding: 10px 20px
}
